body{
    background-color: rgba(153, 58, 58, 0.836);
    text-align: center;;
}

.p{
    position: relative;
    left:50px;
    top:20px;
    width:40px;
    height:20px;
    padding:5px;
    border-radius:5px;
    background-color: black;
    color:white;
}

h1{color:white}
.p:hover{
    background-color: white;
    color:red
}
a{
    text-decoration: none;
    color:inherit;
}

.primeiraDiv{
    position:relative;
    top:30px;
    width:500px;
    background-color: white;
    margin:auto;
    border-radius:10px;   
}
.conteiner{
    display: flex;
    flex-direction: column;
    width:auto;
    height:700px;
    margin:auto;
    align-items: center;
    justify-content:space-around;
    border-radius:10px;
    border:1px solid red;
    color:black;
    border-radius:2px 2px 2px 2px;
    box-shadow: 2px 2px 2px 2px;
    overflow: auto;
    padding:10px 10px 10px 10px;
    justify-content: space-between;
}