body{
    text-align: center;
  
  /* Gradiente alternando apenas entre Vermelho e Azul */
  background: linear-gradient(120deg, rgb(255, 0, 0), rgb(0, 0, 255), rgb(255, 0, 0));
  
  /* Mantém o fundo esticado para permitir o movimento */
  background-size: 200% 200%;
  
  /* Animação contínua e infinita */
  animation: efeitoRgbSemVerde 60s ease infinite;
}

/* Movimentação do fundo para misturar o vermelho e o azul */
@keyframes efeitoRgbSemVerde {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.p{
    position: relative;
    left:50px;
    top:20px;
    width:40px;
    height:20px;
    padding:5px;
    border-radius:5px;
    background-color: black;
    color:white;
}

h1{color:white}
.p:hover{
    background-color: white;
    color:red
}
a{
    text-decoration: none;
    color:inherit;
}

.primeiraDiv{
    position:relative;
    top:30px;
    width:500px;
    background-color: white;
    margin:auto;
    border-radius:10px;   
}
.conteiner{
    display: flex;
    flex-direction: column;
    width:auto;
    height:700px;
    margin:auto;
    align-items: center;
    justify-content:space-around;
    border-radius:10px;
    border:1px solid red;
    color:black;
    border-radius:2px 2px 2px 2px;
    box-shadow: 2px 2px 2px 2px;
    overflow: auto;
    padding:10px 10px 10px 10px;
    justify-content: space-between;
}