body{

  
  /* Gradiente alternando apenas entre Vermelho e Azul */
  background: linear-gradient(120deg, rgb(255, 0, 0), rgb(0, 0, 255), rgb(255, 0, 0));
  
  /* Mantém o fundo esticado para permitir o movimento */
  background-size: 200% 200%;
  
  /* Animação contínua e infinita */
  animation: efeitoRgbSemVerde 60s ease infinite;
}

/* Movimentação do fundo para misturar o vermelho e o azul */
@keyframes efeitoRgbSemVerde {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.p{
    position: relative;
    left:50px;
    top:20px;
    width:40px;
    height:20px;
    padding:5px;
    border-radius:5px;
    background-color: black;
    color:white;
}
.p:hover{
    background-color: white;
    color:red
}
a{
    text-decoration: none;
    color:inherit
}

.conteiner{
    display: flex;
    flex-direction: column;
    width:500px;
    height:600px;
    margin:auto;
    align-items: center;
    border-radius:2px;
    position: relative;
    top:-60px
}
.conteiner-grid{
  display: flex;
  flex-direction: column;
    width:400px;
    height:400px;
    border:1px solid black;
    box-shadow: 1px 1px 1px 1px;
    justify-content: center;
    padding:10px 10px 10px 10px;
    border-radius:5px;

    align-items: center;
    border-radius:7px;
    background-color:rgba(129, 66, 66, 0.651);
    font-weight: bold;
}
.telaResultado{
    display: flex;
    justify-content: center;
    width:400px;
    height:400px;
    border:solid 1px black;
    background-color:rgba(129, 66, 66, 0.651);
    box-shadow:1px 1px 1px 1px;
    padding:10px 10px 10px 10px;
    border-radius:5px;
    overflow: auto;
}

input{
    border-radius:7px;
    background-color: rgba(240, 248, 255, 0.342);
    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


button{
    width:80px;
    height:40px;
    color:white;
    background-color: black;
    border-radius:5px;
    font-weight: bold;
    cursor:pointer
}
button:hover{
    background-color: rgba(0, 0, 0, 0.589);
    color:red;
}
